<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>[한국투자증권] 주소 찾기 프로그램</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>
<span>주소를 입력하세요 : </span>
<input type="text" id="inputAddress" name="inputAddress" autofocus required>
<input type="button" id="addressSearchBtn" name="addressSearchBtn" value="검색" onclick="addressSearch();">
<br>
<span>검색 결과값 : </span>
<input type="text" id="outputAddress" name="outputAddress" readonly>
<br>
<br>
<input type="button" id="clearTextBox" name="clearTextBox" value="text all clear" onclick="clearText();">
<input type="button" id="excelDownloadBtn" name="excelDownloadBtn" value="엑셀 다운로드">
<br>
<table border="1" bordercolor="blue" width ="500" height="150" align = "left" >
  <tr bgcolor="blue" align ="center">
    <p><td colspan = "3" span style="color:white">이전 검색 결과값</td></p>
  </tr>
  <tr align = "center" bgcolor="skybule">
    <td>번호</td>
    <td>입력 값</td>
    <td>검색 결과값</td>
  </tr>
  <tr>
    <td>월급!</td>
    <td>1,000,000</td>
    <td>ㅁㄴㅇㅁㄹ</td>
  </tr>
  <tr>
    <td>점심값</td>
    <td>ㅂㅈㄷㄱ</td>
    <td>5,000</td>
  </tr>
</table>
</body>

<script>

  $(document).ready(function(){
    previousSearch();
  });

  function addressSearch() {
    const inputAddress = $("#inputAddress").val();

    if(inputAddress == "") {
      alert("주소를 입력해주세요.");

      return;
    }

    const param = {
      "query" : inputAddress
    };

   $.ajax({
      async:true,
      type:'POST',
      data: JSON.stringify(param),
      url:"/search/api",
      dataType: "json",
      contentType :"application/json; charset=utf-8",
      success : function(data) {
        if(data.resultCd == "S") {
          alert("완료되었습니다." + data.addressResult);
          $("#outputAddress").val(data.addressResult);
          previousSearch();
        } else {
          alert("결과값이 없습니다.");
        }
      },
      error: function(jqXHR, textStatus, errorThrown) {
        alert("ERROR : " + textStatus + " : " + errorThrown);
      }
   });
  }

  function clearText() {
    $("#inputAddress").val("");
    $("#outputAddress").val("");
  }

  function previousSearch() {
    const param = {};

    $.ajax({
      async:true,
      type:'POST',
      data: JSON.stringify(param),
      url:"/search/history",
      dataType: "json",
      contentType :"application/json; charset=utf-8",
      success : function(data) {
        console.log("완료되었습니다.");
      },
      error: function(jqXHR, textStatus, errorThrown) {
        alert("ERROR : " + textStatus + " : " + errorThrown);
      }
   });
  }
</script>
</html>